footer {
  height: 609px;
  background: #070211;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  padding: 120px;
}
footer .upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
footer .upper-section .contacts {
  padding-right: 130px;
}
footer .upper-section .contacts div {
    display: flex;
    gap: 10px;
}
footer .upper-section .contacts .icon{
    padding-top: 5px;
}
footer .middle-section {
  margin: 48px auto;
  text-align: center;
}
footer .middle-section a {
  margin: 0px 24px;
}
footer .middle-section img:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
footer .last-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer hr {
  height: 1px;
  border-color: rgba(255, 255, 255, 0.15);
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  color: blue;
  font-weight: 600;
  transform: translate(2px, 2px);

  transition: font-weight 0.3s, transform 0.3s;
}
footer .last-section a:hover {
  color: red;
  font-weight: 600;
  transition: font-weight 0.3s, transform 0.3s;
}
