header {
  font-family: "Merriweather", serif;
  width: 1320px;
  height: 650px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner Image.png") no-repeat center/cover;
  margin: auto;
  position: relative;
  text-align: center;
}

header p {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
}

header h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  width: 632px;
  padding-left: 344px;
}
