button:hover {
  transform: translate(2px, 2px);
}
/* Section 1 */
.sec1 {
  font-family: "Inter", sans-serif;
  text-align: center;
}
.sec1 h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
.sec1 p {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.sec1 h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}
.sec1 img {
  width: 802.9px;
  height: 500px;
  margin-bottom: 120px;
}

/* Section 2 */
.sec2 {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png") no-repeat center/cover;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.sec2 h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  width: 642px;
  padding-left: 126px;
  /* padding-right: 552px; */
}
.sec2 p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 697px;
  padding-left: 126px;
}
.sec2 button {
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  padding-left: 126px;
}
.sec2 button:hover {
  color: #f00;
  font-weight: 900;
  transition: font-weight 0.1s, transform 0.1s;
}
.sec2 img {
  width: 319.83px;
  height: 464.662px;
  padding-right: 126px;
}

/* Section 3 */
.sec3 {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  margin: 120px auto;
  text-align: center;
  font-family: Inter;
  padding-top: 100px;
}
.sec3 p {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.sec3 .highlight {
  color: #f00;
}
.sec3 button {
  background: #f00;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 48px;
}
.sec3 button:hover {
  background-color: #fff;
  color: #f00;
  border: 2px solid #f00;
  transition: transform 0.1s;
}
/* Section 4 */
.sec4 {
  font-family: Inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.sec4 .part1 h6 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  line-height: 0%;
}
.sec4 .part1 h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 0%;
}
.sec4 .part1 p {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.sec4 .part2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 33%;
}
.sec4 .part2 img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 15px solid #f00;
  padding: 5%;
}
.sec4 .part3{
  padding-left: 100px;
}
.sec4 .part3 h3 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  line-height: 0;
}
.sec4 .part3 p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 276px;
}
.sec4 .part3 img {
  width: 140px;
  height: 140px;
}
